<div class="container p-3">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link-underline link-underline-opacity-0"
                        [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item active text-white " [routerLink]="['/home/actas-partido']">Actas Partido</li>
            </ol>
        </nav>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 p-2 ">

            <div class="row justify-content-center">
                <div class="row col-md-4">
                    <button class="btn btn-primary btn-sm-primary fw-bold " (click)="showFormularioCrear()"> Crear Nuevo
                    </button>
                </div>
                <div class="row col-sm-8 mt-2">
                    <div class="col-sm-12">
                        <input type="text" placeholder="Busqueda ... " class="form-control"
                            (keyup)="handleFiltroActas($event)">
                    </div>
                    <!-- <div class="col-sm-2">
                        <button class="btn btn-outline-primary"> Buscar </button>
                    </div> -->
                </div>
            </div>
        </div>

        <!--Se agrega validacion que Corrige el error de paginator es undifined
            debido a la demora en obtener los datos
        -->
        <ng-container *ngIf="actasPartido ">
            <app-table-acta [actaPartidoSource]="actasPartido"></app-table-acta>
        </ng-container>



    </div>
</div>