<div class="container p-3">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item active" [routerLink]="['/home/actas-partido']">Actas Partido</li>
            </ol>
        </nav>
    </div>
    <div class="row justify-content-center">

        <div class="col-md-10">
            <div class="row justify-content-center">
                <div class="row col-md-4">
                    <button class="btn btn-primary " (click)="showFormularioCrear()"> Crear Nuevo </button>
                </div>
                <div class="row col-sm-8 mt-2">
                    <div class="col-sm-8">
                        <input type="text" placeholder="Busqueda ... " class="form-control"
                            (keyup)="handleFiltroActas($event)">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-outline-primary"> Buscar </button>
                    </div>
                </div>
            </div>
        </div>

        <app-table-acta [actaPartidoSource]="this.actasPartido"></app-table-acta>


    </div>
</div>