/* * {
    height: auto;
    background: rgb(39, 38, 38);
} */

* {
    /* height: max-content; */
    overflow: auto; /* permite que el contenido no se superponga */
    max-height: max-content;
    background: rgb(131, 131, 131);
}
/* body{
    background: inherit;    
} */