<div class="card card-body">
  <table mat-table [dataSource]="dataCopy" class="">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Categoria">
      <th mat-header-cell *matHeaderCellDef> Cedula </th>
      <td mat-cell *matCellDef="let element"> {{ element.categoria }} </td>
  </ng-container>
  
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Usuario">
      <th mat-header-cell *matHeaderCellDef> Nombre Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreUsuario}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Contraseña">
      <th mat-header-cell *matHeaderCellDef> Contraseña </th>
      <td mat-cell *matCellDef="let element"> {{element.contrasenia}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Edad">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Correo">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="Nacionalidad">
    <th mat-header-cell *matHeaderCellDef> Nacionalidad </th>
    <td mat-cell *matCellDef="let element"> {{element.nacionalidad}} </td>
</ng-container>

<ng-container matColumnDef="CantPartidos">
  <th mat-header-cell *matHeaderCellDef> Cantidad Partidos </th>
  <td mat-cell *matCellDef="let element"> {{element.cantidadPartidos}} </td>
</ng-container>
  
  <ng-container matColumnDef="Editar">
    <th mat-header-cell *matHeaderCellDef>Editar</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)=" editarElemento(element)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="Eliminar">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)=" eliminarElemento(element)">
              <mat-icon>delete</mat-icon>
          </button>
      </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnasarbitro"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasarbitro;"></tr>
  </table>
  
</div>