<!--  -->
<div class="container">
    <div class="row justify-content-center">
        <div class="d-flex justify-content-center mt-2">
            <h1 class="text-white fw-bold"> SISTEMA DE GESTION DE ARBITROS DE FUTBOL</h1>
        </div>
        <div class="col-md-6">
            <div class="card shadow rounded p-2 mb-4">
                <div *ngIf="alert">
                    <h3 class="text-center bg-warning fw-bold">
                        Por favor ingrese sus credenciales!
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card-header mb-3">
                        <div class="card-title">
                            <h1 class="text-center fw-bold"> Inicio de Sesión</h1>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="../../../assets/logo-login.png" class="w-20 h-20">
                        </div>
                        <!-- <img [src]="urlImage" > -->
                    </div>
                    <form action="" [formGroup]="userLogin" class="">
                        <mat-form-field class="full-width">
                            <mat-label color="white">
                                Email
                            </mat-label>
                            <input matInput placeholder="Juanito@email.com" formControlName="email" type="email">
                        </mat-form-field>
                        <mat-form-field class="full-width mb-2">
                            <mat-label>
                                Contraseña
                            </mat-label>
                            <input matInput placeholder="Secret password" [type]="hidePassword ? 'password' : 'text'"
                                formControlName="password">
                            <!-- <button  mat-icon-button aria-label="Show" (click)="value=''"> -->
                            <mat-icon matSuffix (click)=" hidePassword = !hidePassword">{{ hidePassword ?
                                'visibility_off' : 'visibility'
                                }}</mat-icon>
                            <!-- </button> -->
                            <mat-hint *ngIf="!passwordInput?.value">Por favor digite su contraseña</mat-hint>
                        </mat-form-field>
                        <div class="d-flex row g-2">
                            <button class="btn btn-success" (click)="logIn()"> Iniciar Sesión</button>
                        </div>
                        <div class="form-group">
                            <mat-checkbox formControlName="remember">
                                Recordarme
                            </mat-checkbox>
                        </div>
                        <div class="d-flex justify-content-center ">
                            <a href=""> Olvide mi contraseña </a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href=""> Crear una cuenta! </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>