<div>
<div class="card">

<div class="card-header">
    <div  class="card-title">
        <h1 class="fw-bold"> Editar Arbitro </h1>
    </div>   
</div>
    <br>
    <div class="card-body">
    <form [formGroup]="usuarioNuevo">
       <!-- <mat-form-field class="campos-field">
            <input matInput placeholder="Editar Cedula" formControlName="cedula">
        </mat-form-field>-->

        <mat-form-field class="campos-field">
            <input matInput placeholder="Editar Nombre" formControlName="nombre">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Editar Apellido" formControlName="apellido">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <mat-label>Editar fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechanac">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Editar Direccion" formControlName="direccion">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder=" Editar Telefono" formControlName="telefono">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Editar Correo" formControlName="correo">
        </mat-form-field>

        <button mat-raised-button [disabled] = "!usuarioNuevo.valid" (click)="onSubmit()">Aceptar</button>  
        <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>    
    </form>
</div>
    
    

</div>
</div>